body {
/*  max-width: 820px;
  margin: 0 auto;*/
  padding: 4px;
  font-family: sans-serif;
  background-color: #FFFFFF;
}

#menu {
  font-size: 0;
}

#menu span {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
}

.menu-selected {
  text-decoration: none !important;
  color: #000 !important;
  cursor: auto !important;
  font-weight: bold;
}

#search-form {
  margin-top: 8px;
  display: none;
}

#paginator {
  margin-top: 8px;
}

button {
  width: 32px;
  height: 32px;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 8px;
/*  background-color: #0984e3;*/
  background-color: #EFEFEF;
  -webkit-box-sizing: content-box;
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}

h2 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: monospace;
  display: inline-block;
}

#timeline > div {
  font-size: 0px;
}

.tweet-time {
  font-size: 8px;
  color: #AAAAAA;
  margin-left: 6px;
}

.tweet-text {
  white-space: pre-wrap;
  word-break: break-all;
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
}

#tweet-input {
  padding: 0px;
  border: none;
  outline: none;
  resize: none;
  height: 24px;
  width: 100%;
  font-size: 16px;
  font-family: monospace;
  line-height: 1.5;
}

#tweet-submit {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #EFEFEF;
  box-shadow: none;
  color: #555;
  display: inline-block;
  -webkit-appearance: button;
  appearance: button;
  padding: 16px;
  margin: 0;
}
